// path to the current directory
def currentDir = new File(System.getProperty("user.dir")).getCanonicalPath()
String condaDir = "${currentDir}/conda"
params.condaDir = condaDir
def condaActivate = "${condaDir}/bin/activate"

params.container = "nextflow/rnaseq-nf"
params.queue = "cpu_short" // queue on NYU Big Purple cluster
executor.queueSize = 1

profiles {
    standard {
        docker.enabled = true
        process.container = "${params.container}"
    }

    conda {
        // assuming 'conda' not globally available on system, use the one installed in current dir
        process.beforeScript = "unset PYTHONHOME; unset PYTHONPATH; export PATH=${params.condaDir}:\$PATH"
        process.conda = "env.yml"
    }

    slurm {
        executor.queueSize = 5
        process.executor = "slurm"
        process.queue = params.queue
        process.clusterOptions = "--export=NONE"
    }

    sge {
        executor.queueSize = 5
        process.executor = "sge"
    }
}
